#detail,
#list {
    display: none;
}

#add {
    border-radius: 50%;
    bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    height: 62px;
    position: absolute;
    right: 10px;
    width: 62px;
}

header {
    align-items: center;
    background: cornflowerblue;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    height: 85px;
}

#empty {
    text-align: center;
    padding: 70px ;
}

.empty__title {
   font-size: 25px;
   font-weight: 600;
}

.empty__icon {
    font-size: 150px;
}

.list__title {
    font-size: 25px;
    font-weight: 600;
}